.soporte-semaforo{
    position: relative;
    background: rgb(68, 67, 67);
    width: 20px;
    height: 80px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.semaforo {
    position: absolute;
    text-align: center;
    background: rgb(68, 67, 67);
    width: 90px;
    margin-left: -35px;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.semaforo div {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
}




